{% extends 'main.twig' %}
{% block head_title %}{{ post.title }} | {{ site.title }}{% endblock %}
{% block body %}

    <h1 class="page-header">
        {{ post.title }}
    </h1>
    <div class="row">
        <div class="col-sm-7">
            <article>
                <div>
                    {% autoescape false %}{{ post.content }}{% endautoescape %}
                </div>
            </article>
        </div>
        <div class="col-sm-4 col-sm-push-1">
            {% include 'side.twig' %}
        </div>
    </div>

{% endblock %}
