{% extends 'main.twig' %}
{% block head_title %}{{ post.title }} | {{ site.title }}{% endblock %}
{% block body %}
        <h1 class="page-header">
            {{ post.title }}
        </h1>
    <article>
        <div>
            {% autoescape false %}{{ post.content }}{% endautoescape %}
        </div>
    </article>
{% endblock %}
