{#
title: Nog How To
post_type: page
published: 2015/06/20 15:13:56
#}
{% extends '../templates/page.twig' %}


<h2>Quick Start</h2>

<p>
    Fork the repo and clone the fork to your local machine.
</p>

<pre>
    git clone
</pre>


