{% extends 'main.twig' %}
{% block head_title %}{{ meta.title }} | {{ site.title }}{% endblock %}
{% block body %}
    <article>
        <header class="page-header">
            <h1>{{ meta.title }}</h1>
        </header>
        <div>
            {% block content %}
                <p>Missing content!</p>
            {% endblock %}
        </div>
    </article>
{% endblock %}
